node_modules/
dist/
dist-electron/
release/
*.sqlite
*.tar.gz
.idea/
.vscode/
build/
murchat/node_modules/
server/node_modules/
server/dist/
murchat/dist/
murchat/dist-electron/
murchat/release/
temp/
client_logs/
db_messages/
out.log
err.log
