.screen-picker-empty {
    color: #aaa;
    text-align: center;
    padding: 40px;
    font-size: 1.1rem;
    grid-column: 1 / -1;
}

.screen-picker-loading {
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
}
